*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.fondo{
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: left top;
    }

#logo{
        background-color: #f7b8bc;
        display: flex;
        justify-content: center;
    }

#logo img{
    background-color: #f7b8bc;
    width: 25%;
    height: 15%;
}
 
.portada{
width: 100%;
height: 100%;

 }

 .portada--titulo{
    background-color:  #da5959;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 100px;
 }

.portada--titulo-2{
    font-weight: bold;
    font-family: 'Sacramento',cursive;
    font-size: 40px;
}

 #menu_play li{
    display: grid;
    flex-direction: row;
    justify-content:space-between;
    list-style-type:none;
    position: sticky;
    font-size: 20px;
     }


.portada--description{ 
font-size: medium;
font-size: 25px;
font-family: 'EB Garamond', serif;
}
 
.container{
    display:flex;
    flex-direction: row;
    gap: 10%;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containers--cafeteria{
    background-color: #f16870;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    color: black;
    flex-wrap: wrap;
    justify-content: center;
}

.containers--cafeteria img{
width: 300px;
height: 300px;
background-position: center center;
}

.container--titulo{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-family: 'Cinzel', serif;
}

#tarta{
    display: grid;
    grid-template-columns:1fr 2fr;
    width: auto;
}


.tarta_item img{
    display: flex;
    align-items:start;
    width: 100%;
    height: auto;
}

.tarta_frase{
    font-size: 30px;
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #140909;
    opacity: calc(50%);
    align-self: center;
    justify-self: stretch;
}

.pie{
    border: solid 1px rgb(6, 5, 5);
    background: rgb(255, 207, 237);;   
    width:100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.pie--seccion1{
    font-size: 15px;
    border-right:solid 1px #140909;
}

.pie--seccion2{
    font-size: 15px;
    display: grid;
    margin-top: 30px;
    }

 .pie--seccion2 img{
     display: grid;
     width:50%;
     float: left;
 }   

    .pie_icono{
        display: grid;
        float:left;
    }
    
    .pie_icono img{
    width: 35px;
    height:35px;
    display: grid;
    }

    .copyright{
        font-size: 20px;
        color:rgb(22, 16, 16);
        background-color: rgb(255, 207, 237);
    }

.information{
    font-size: 20px;
    color: rgb(7, 6, 6);
    background-color: rgb(255, 207, 237);
}

/*mediaquerie
#seccion_area-1{display: grid;}
@media screen and (mind-width: 320px){
    #seccion_area-1{
        grid-template-columns: repeat(2 1fr);
}


/* tienda */
 
.barra_principal{
margin: 50px 5px 50px 5px;
 background-color: #d50000;
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 00px;
}

.titulo_tienda{
    font-size: 30px;
    text-decoration: dotted;
}

.organizador{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    float: left;
    width: 15%;
}

.valor{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    float: left;
    width: 20%;
 }


.tienda{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3,auto);
    gap:5px;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    padding: 10px;
}

.tienda .tienda-items img{
    display: grid;
    width: 100%;
    height: 80%;
    border-radius: 5px;
    justify-self: center;
    align-self:center;
}

.tienda .tienda-items{
    background-color: #b71c1c;
    padding: 10px;
}

/*nosotros*/


